#sect1 {
    padding-top: 100px;
    background-image: url(image/rawpixel-983726-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 800px;


}
.hult {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    color: #fff;
}
#proverb {
    color: #000;
    font-weight: bold;
}
button {
    margin-top: -90px;
}

#hult {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    color: #fff;
}
#RegisterForm
{
    border: solid 2px green;
  
}
#pjudge {
    margin-top: 60px;
}

#present {
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    letter-spacing: 1.6px;
    word-spacing: -5px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
}
